{% extends "skeleton.html" %}

{% block title %}Todo Manager::{{page_title}}{% endblock %}

{% block content %}

<h2>{{page_title}}</h2>

    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel lacinia lacus. Nam vehicula massa elit, sed adipiscing ligula lobortis et. Nulla molestie viverra purus id scelerisque. Sed ut ipsum ac erat fermentum accumsan. Etiam non aliquet risus. In aliquam euismod convallis. Donec sed massa id dui laoreet pulvinar. Duis ullamcorper, magna vel accumsan fermentum, eros dui pellentesque turpis, eu varius eros nunc vitae urna. Ut nec aliquet justo, eu euismod dolor. Duis diam elit, ullamcorper non nulla et, feugiat tincidunt sapien. Integer semper dolor ut vehicula malesuada. Aenean in velit quam. Vivamus cursus erat felis, imperdiet lobortis leo placerat at.
    </p>
    <p>
    Nam eu dapibus augue, vitae ullamcorper augue. Integer sapien ante, elementum sed elementum sed, placerat vitae ipsum. Mauris ac fermentum nisl. Duis posuere mi lobortis odio consectetur, id vulputate tellus vulputate. Phasellus turpis tellus, facilisis ac faucibus ut, semper ac elit. Vestibulum blandit justo sit amet tristique volutpat. Sed ante diam, fermentum eget turpis sit amet, fringilla facilisis augue. Integer eget pellentesque odio. Nulla viverra sit amet ante eu vulputate. Suspendisse massa massa, euismod a laoreet in, imperdiet at leo. Fusce sollicitudin, nisi vel pharetra imperdiet, neque sem pharetra dui, non pretium risus dolor eu arcu.
    </p>

{% endblock %}